{# #######################
  header.html
##########################

This block gives the introduction content at the top of each report.
That is, the page title, welcome message, details of where the report
was generated and the button that launches the welcome tour.

#}

<style type="text/css">{{ include_file('assets/css/multiqc_umccr.css') }}</style>

<script>
    const red = "rgb(228, 26, 28)";
    const blue = "rgb(55, 126, 184)"
    const gray = "rgb(203, 203, 203)"

    const samples_order = [];
    const samples_hl = new Map();
    {% if config.umccr.batch %}
    const tumor_regex = [
      // Standard
      "^{{ config.umccr.tumor_name }}$",
      // For backwards compatibility
      "^{{ config.umccr.tumor_rgid }}$",
      "^{{ config.umccr.tumor_rgid }} \\({{ config.umccr.batch }}\\)$",
      // DRAGEN mapping metrics
      "^{{ config.umccr.tumor_name }} \\(.+\\)$",
      // DRAGEN FastQC plots
      "^{{ config.umccr.tumor_name }}_Read1$",
      "^{{ config.umccr.tumor_name }}_Read2$",
    ];
    const normal_regex = [
      // Standard
      "^{{ config.umccr.normal_name }}$",
      // For backwards compatibility
      "^{{ config.umccr.normal_rgid }}$",
      "^{{ config.umccr.normal_rgid }} \\({{ config.umccr.batch }}\\)$",
      // DRAGEN mapping metrics (bnbowman/MultiQC only); tumor name is used with '_normal' appended
      "^{{ config.umccr.tumor_name }}_normal$",
      // DRAGEN mapping metrics
      "^{{ config.umccr.normal_name }} \\(.+\\)$",
      // DRAGEN FastQC plots
      "^{{ config.umccr.normal_name }}_Read1$",
      "^{{ config.umccr.normal_name }}_Read2$",
    ];
    tumor_regex.forEach(d => samples_hl.set(d, red));
    normal_regex.forEach(d => samples_hl.set(d, blue));
    samples_order.push(...tumor_regex, ...normal_regex);
    {% endif %}

    let bg_texts = [];
    let bg_cols = [];
    {% for ref_sample in config.umccr.reference_samples %}
    bg_texts.push("^{{ ref_sample }}$");
    bg_cols.push(gray);
    bg_texts.push("^{{ ref_sample }}_Read1$");
    bg_cols.push(gray);
    bg_texts.push("^{{ ref_sample }}_Read2$");
    bg_cols.push(gray);
    samples_order.push("{{ ref_sample }}")
    {% endfor %}

    window.mqc_highlight_f_texts = Array.from(samples_hl.keys()).concat(bg_texts);
    window.mqc_highlight_f_cols = Array.from(samples_hl.values()).concat(bg_cols);
    window.mqc_highlight_regex_mode = true;

    // Apply sample highlight
    $(function() {
      $('.mqc_table_sortHighlight').hide();
      $('.mqc_table tbody th')
        .removeClass('highlighted')
        .removeData('highlight')
        .each(function(i) {
          var th = $(this);
          var thtext = $(this).text();
          var thiscolor = gray;
          $.each(window.mqc_highlight_f_texts, function(idx, f_text){
            if (thtext.match(f_text)) {
              thiscolor = window.mqc_highlight_f_cols[idx];
            }
            th.addClass('highlighted').data('highlight', idx);
            $('.mqc_table_sortHighlight').show();
            th.css('color', thiscolor);
        });
      });
    });

    // Order table rows with order:
    //   - patient tumor
    //   - patient normal
    //   - <reference sample as provided in multiqc_config.yaml>
    function get_regex_index(s, samples_order) {
      for (var i = 0; i < samples_order.length; i++) {
        const re_result = s.search(samples_order[i]);
        if (re_result > -1) {
          return i;
        }
      }
      return Infinity;
    }
    $(function() {
      $('.mqc_table').not('.mqc_configModal_table').each(function() {
        var header = $(this).find('thead tr')[0].children
        var hrows = $(this).find('tbody tr')
        // Determine sample name column index
        var sample_name_column = -1;
        for (var i = 0; i < header.length; i++) {
          if (header[i].innerText === "Sample Name") {
            sample_name_column = i;
            break;
          }
        }
        if (sample_name_column === -1) {
          throw 'Could not find sample name column';
        }
        // Sort according to predefined list
        var result = hrows.sort(function(a, b) {
          const a_name = a.cells[sample_name_column].innerText;
          const b_name = b.cells[sample_name_column].innerText;
          return get_regex_index(a_name, samples_order) - get_regex_index(b_name, samples_order);
        });
        // Apply new ordering
        $(this).find('tbody').append(result);
        $(this).data("direction", "desc");
      });
    });

    // $(function () { fastqc_seq_content_heatmap(); });

    $(function(){
      // Replot graphs
      $('.hc-plot:not(.not_rendered)').each(function(){
        var target = $(this).attr('id');
        plot_graph(target);
      });
    });
</script>

<h1 id="page_title">
  <a class="pull-right" href="https://umccr.github.io/" target="_blank">
    <img src="data:image/png;base64,{{ include_file('assets/img/umccr_logo.jpeg', b64=True) }}" title="UMCCR" height="80">
  </a>
  <a href="http://multiqc.info" target="_blank">
    <img src="data:image/png;base64,{{ include_file('assets/img/MultiQC_logo.png', b64=True) }}" title="MultiQC">
  </a>
</h1>

{% if config.report_comment and config.report_comment | length > 0 %}
  <blockquote class="report_comment">{{ config.report_comment }}</blockquote>
{% endif %}


<div class="well">
    <dl class="dl-horizontal" style="margin-bottom:0;">
      {% if config.title %}
        {{ '<dt>Project:</dt><dd>' + config.title + '</dd>' }}
      {% endif %}
      {% if config.umccr %}
        {% if config.umccr.run_section %}
          {{ '<dt>Creation date:</dt><dd>' + config.umccr.run_section.run_date
            + (('&nbsp;&nbsp;|&nbsp;&nbsp;' + config.umccr.run_section.program_versions) if config.umccr.run_section.program_versions else '')
            + (('&nbsp;&nbsp;|&nbsp;&nbsp;' + config.umccr.run_section.data_versions) if config.umccr.run_section.data_versions else '')
            + '</dd>'
          }}
        {% endif %}
      {% endif %}
    </dl>
</div>

{% if config.umccr %}
<div style="margin-left: 5px; margin-bottom: 5px;">
    {{ '<b>Expression:</b>&nbsp;&nbsp;' + '&nbsp;&nbsp;|&nbsp;&nbsp;'.join(config.umccr.expression_links) + '</br>'
        if config.umccr.expression_links }}
</div>
{% endif %}

<hr id="mqc_header_hr" style="margin-bottom: 10px;">

{% if config.umccr and config.umccr.metric_names %}
<div id="general_stats_table_container" class="mqc_table_container">
    <div class="table-responsive">
        <table id="general_stats_table" class="table table-condensed mqc_table">
            <thead>
            <tr class="top_row_tr">
                <th class="rowheader header">Sample Name</th>
                {% for metric_name in config.umccr.metric_names %}
                <th class="header"><b>{{ metric_name }}</b></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for sample_report in report.umccr.sample_reports %}
                <tr>
                    <td class="rowheader" id="{{ sample_report.sample_name }}"><a name="{{ sample_report.sample_name }}"></a>
                        {{ sample_report.sample_name }}</td>
                    {% for rec in sample_report.records %}
                        <td class=""><span {{ 'data-toggle="tooltip" title="' + rec.description + '"' if rec.description }}>
                            {{ rec.contents }}</span></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{#<hr id="mqc_header_hr">#}

{% if report.num_hc_plots > 0 and report.general_stats_data | length > config.num_datasets_plot_limit %}
<div id="mqc-warning-many-samples" class="alert alert-warning alert-dismissible hidden-print">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  Because this report contains a lot of samples, you may need to click 'Show plot' to see some graphs.
  <button id="mqc-render-all-plots" class="btn btn-default btn-sm">Render all plots</button>
</div>
{% endif %}

<!--{{ report.umccr['sample_match_on_hover_js'] if report.umccr and 'sample_match_on_hover_js' in report.umccr }}-->
